@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* misc login css effect */
.glow-on-hover:hover {
    text-shadow: 0 0 16px rgba(255, 255, 255, 1);
    scale: 1.02;
}
.glow-on-hover {
    transition: all 0.3s ease;
}
.btn-active-glow:active {
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.6);
}
.glow-white-hover:hover {
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.6))
        drop-shadow(0 0 8px rgba(255, 255, 255, 0.7))
        drop-shadow(0 0 12px rgba(255, 255, 255, 0.9));
}
.wds {
    filter: drop-shadow(0 0 16px rgba(255, 255, 255, 0.5));
}
.wds2 {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
}
.wdsh:hover {
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
}
.wdsR {
    filter: drop-shadow(0 0 8px rgba(255, 0, 0, 0.8));
}
.wdshR:hover {
    filter: drop-shadow(0 0 8px rgba(255, 0, 0, 0.8));
}
.wdshB:hover {
    filter: drop-shadow(0 0 8px rgba(0, 149, 255, 0.8));
}

/* Global scrollbar style untuk semua elemen */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
