@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* misc login css effect */
.glow-on-hover:hover {
    text-shadow: 0 0 16px rgba(255, 255, 255, 1);
    scale: 1.02;
}
.glow-on-hover {
    transition: all 0.3s ease;
}
.btn-active-glow:active {
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.6);
}
 .wds {
  filter: drop-shadow(0 0 16px rgba(255, 255, 255, 0.5));
}
.wds2 {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
}
.wdsh:hover {
      filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
}

