@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.glow-on-hover:hover {
    text-shadow: 0 0 16px rgba(255, 255, 255, 1);
    scale: 1.02;
}
.glow-on-hover {
    transition: all 0.3s ease;
}
